// global styles

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald-ExtraLight";
  src: url("./assets/fonts/Oswald-ExtraLight.ttf");
}

@font-face {
  font-family: "Oswald-Light";
  src: url("./assets/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("./assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("./assets/fonts/Oswald-Medium.ttf");
}

@font-face {
  font-family: "Oswald-SemiBold";
  src: url("./assets/fonts/Oswald-SemiBold.ttf");
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("./assets/fonts/Oswald-Bold.ttf");
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: black;
  // background: radial-gradient(circle, rgba(2, 0, 36, 1) 34%, rgba(4, 0, 68, 1) 100%);
  // background: radial-gradient(circle, #1d0241 0%, #f828cb 100%);
}

.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  * {
    font-family: "Oswald-Regular";
  }
}
